{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="reset-password-container">
    <h1>Réinitialiser le mot de passe</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        {{ form_row(resetForm.submit) }}
    {{ form_end(resetForm) }}
</div>
{% endblock %}
