{% extends 'baseadmin.html.twig' %}

{% block title %} Ajouter un événement {% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2 class="mb-4">Ajouter un événement</h2>

        {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
            <div class="mb-3">
                {{ form_label(form.nomEvent, 'Nom de l\'événement') }}
                {{ form_widget(form.nomEvent) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.categorie, 'Catégorie de l\'événement') }}
                {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.categorie) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.maxPlacesEvent, 'Nombre maximum de places') }}
                {{ form_widget(form.maxPlacesEvent) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.dateEvent, 'Date de l\'événement') }}
                {{ form_widget(form.dateEvent) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.lieuEvent, 'Lieu de l\'événement') }}
                {{ form_widget(form.lieuEvent) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.photoFile, 'Photo de l\'événement') }}
                {{ form_widget(form.photoFile, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="d-flex justify-content-center gap-2 mt-3">
                <button type="submit" class="btn btn-primary">Ajouter</button>
                <a href="{{ path('evenement_list') }}" class="btn btn-secondary" >Retour à la liste</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}